.registration-form{
	margin-top: 50px;
	margin-bottom: 200px;
	text-align: left;
}

.ss-q-title{
	color: red;
	width: 50%;
}

.form-table{
	margin: auto;
}

.submit-table{
	margin: auto;
}

.ss-q-short{
	padding: 2px;
    height: 40px;
    width: 300px;
    position: relative;
    left: 0;
    outline: none;
    background-color: white;
    font-size: 16px;
    border: 1px solid rgba(116, 182, 64,0.5);
	border-color: green;
}

tr.spaceUnder > td
{
  margin-top: 2px;
}
.form-table>tbody>tr{ 
	width:500px;
}


.submit-form{
	padding:15px 25px; 
	background:#fff; 
	border:1px solid rgb(116, 182, 64);
	cursor:pointer;
	transition:all .3s linear .2s;
	-o-transition:all .3s linear .2s;
	-moz-transition:all .3s linear .2s;
	-webkit-transition:all .3s linear .2s;
}
	.submit-form:hover{
		color: white;
		background: rgb(116, 182, 64);;
	}

.table-label{
	text-align: center;
	font-size: 1em;
}

select{
	padding: 2px;
	height: 46px;
	width: 306px;
	position: relative;
	left: 0;
	outline: none;
	background-color: white;
	font-size: 16px;
	border: 1px solid rgba(116, 182, 64,0.5);
	border-color: green;
}

.registration-form ul{
	list-style: none;
}


@media (max-width: 450px){
	.form-table{
		width: 100%;
	}
	.ss-q-short{
	    width: 200px;
	}
	select{
	 width: 206px;
	}
	.form-table>tbody>tr>td:first-child{ 
			column-width: 100px;
	-webkit-column-width: 100px;
	}
	.table-label{
		text-align: left;
		font-size: 0.9em;
		word-wrap: break-word;
	}
}

@media (max-width: 390px){
	.ss-q-short{
	    width: 150px;
	}
	select{
	 	width: 156px;
	}
	.table-label{
		font-size: 0.8em;
	}
}