@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

html {
	height: auto;
}
body {
	height: auto;
	text-align: center;
	color: black;
	font-family:'HelveticaNeue', Roboto;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 1;
	margin: 0px;
	background-image: url('../img/backPatternGray.png');
}
.nav{
	height: 44px;
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
	z-index: 2000;
}
.nav a{
	text-decoration:none;
}
.nav a:hover{
	color: rgb(116, 182, 64);
	transition:all .3s linear;
	-o-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-webkit-transition:all .3s linear;
}
.nav>ul{
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
.nav>ul>li{
	float:left;
	position:relative;
	width: 16.6%;
	height: 44px;
}
.nav>ul>li:hover{
	border-bottom: 2px solid rgb(116, 182, 64);
	background-color: rgb(235, 235, 235);
}
.selected {
	border-bottom: 2px solid rgb(88, 138, 50);
}
.nav>ul>li>a{
	padding:0;
	color: rgb(90, 90, 90);
	display:block;
	line-height:44px !important;
	font-size: 1.0em;
	font-weight: 550;
	text-transform: uppercase;
	text-decoration: none;
}
.nav>ul>li>ul{
	position:absolute;
	left:0;
	padding:0;
	margin:0;
	list-style:none;
	width: 100%;
	margin-top: 2px;
}
.nav>ul>li:hover>ul li a{
	opacity:1;
	height:50px;
	transition:all .3s linear;
	-o-transition:all .3s linear;
	-moz-transition:all .3s linear;
	-webkit-transition:all .3s linear;
}
.nav>ul>li>ul a{
	display:block;
	line-height:50px !important;
	font-size: 1em;
	background:#eee;
	border-bottom:1px dashed #ddd;
	text-align:center;
	color: gray;
	padding:0 5px;
	height:0;
	overflow:hidden;
	opacity:0;
	transition:all .3s linear .2s;
	-o-transition:all .3s linear .2s;
	-moz-transition:all .3s linear .2s;
	-webkit-transition:all .3s linear .2s;
}
.nav>ul>li>ul a:hover{
	color: rgb(116, 182, 64);
}


.main-content{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
.title{
	font-size: 1.8em;
	line-height: 1.3em;
	text-align: center;
	width: 100%;
	color: rgb(116, 182, 64);
}
.description {
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: 100;
    color: rgb(138, 137, 137);
}
.partners{
	margin-top: 80px;
}
	.partners div{
		margin-bottom: 30px;
	}
	.partners img{
		width: 150px;
		margin-top: 20px;
		margin-right: 40px;
	}
		.partners img:last-child{
			margin-right: 0px;
		}
.countdown-timer {
	margin-top:  80px;
}
.chart {
	display: inline-block;
	width: 95px;
	height: 95px;
	margin: 0 10px;
	vertical-align: top;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 22px;
}
.chart span {
	display: block;
	font-size: 2em;
	font-weight: normal;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}
.bottom{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 200px;
	border-top: 1px solid white;
	margin-top: 100px;
	padding-top: 15px;
	background: #fff;
	border-top: 1px dashed lightgray;
}


@media (max-width: 1024px){
	.nav ul{
		width: 100%;
	}
}

@media (max-width: 850px){
	.nav ul li{
		font-size: 0.8em;
	}
}

@media (max-width: 660px){
	.nav ul li{
		display: none;
	}
}

@media (max-width: 450px){
	.title{
		font-size: 1.5em;
		line-height: 1.3em;
	}
}