html {
	background-image: linear-gradient(#203F3F, #53c9b3);
	height: 100%;
}
body {
	position: relative;
	text-align: center;
	padding-top: 1px;
	margin-top: 0px;
	color: #E7F7F5;
	font-family: 'Oswald' sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 1;
	min-width: 925px;
}

nav {
	margin-top: 20px;
	font-size: 1.3em;
	display: block;
}

	/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
    text-transform: uppercase;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
    width: 16%;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    display:inline-block;
    width: 100%;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}

hr {
  color: #fff;
  margin-top: 90px;
  background-color: #fff;
  height: 1px;
  width:100%;
}			

.main-content {
	margin-top: 80px;
}

.title{
	font-size: 1.5em;
	letter-spacing: 0.12em;
	line-height: 1.3em;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}
.notice{
	text-transform: uppercase;
	margin-top: 80px;
	font-size: 1.5em;
}
.countdown-timer {
	margin-top:  80px;
}
.chart {
	display: inline-block;
	width: 95px;
	height: 95px;
	margin: 0 10px;
	vertical-align: top;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 22px;
}
.chart span {
	display: block;
	font-size: 2em;
	font-weight: normal;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

@media (max-width: 450px){
	.title{
		font-size: 1.5em;
		line-height: 1.3em;
	}
}